.claude

.idea

aidocs

# vitepress
vitepress/node_modules/
vitepress/docs/.vitepress/dist
vitepress/docs/.vitepress/cache
vitepress/*.local

# Runtime
uploads/
*.exe
.env.air_tmp/
/bin
